doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js')

    script(src='http://localhost:9090/socket.io/socket.io.js')
    script(src='/js/socket.js')
  body
    block content
